{
"version": 1,
"loggers": {
        "": {
            "handlers": ["console"],
            "level": "WARNING",
            "propagate": false
        },
        "datalayer" : {
            "handlers": ["datalayer","console"],
            "level": "WARNING",
            "propagate": false
        },
        "measurements" : {
            "handlers": ["measurements","console"],
            "level": "DEBUG",
            "propagate": false
        },
        "simulations" : {
            "handlers": ["simulations","console"],
            "level": "EXECUTION",
            "propagate": false
        }
},
"handlers": {
    "console" : {
        "class": "logging.StreamHandler",
        "stream": "ext://sys.stdout"
    },
    "datalayer" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "/home/yehuda/.pyhera/log/datalayer.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "measurements" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "/home/yehuda/.pyhera/log/measurements.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "measurements.GIS": {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "/home/yehuda/.pyhera/log/measurements-GIS.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "measurements.meteorological": {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "/home/yehuda/.pyhera/log/measurements-meteorological.log",
        "maxBytes": 20000,
        "backupCount": 3
    },
    "errors": {
        "class": "logging.FileHandler",
        "formatter": "default",
        "filename": "/home/yehuda/.pyhera/log/Errors.log"
    },
    "simulations" : {
        "class": "logging.handlers.RotatingFileHandler",
        "formatter": "default",
        "filename": "/home/yehuda/.pyhera/log/simulations.log",
        "maxBytes": 20000,
        "backupCount": 3
    }
},
"formatters" : {
    "brief" : {
        "format": "%(message)s"
     },
    "default": {
        "format": "%(asctime)s %(filename)s/%(funcName)s(%(lineno)d) %(levelname)-8s %(name)-15s %(message)s",
        "datefmt": "%Y-%m-%d %H:%M:%S"
    }
}


}